.related-posts
  margin: 2em 0
  padding: 1em
  background: #f8f8f8
  border-radius: 6px
  h3
    margin-top: 0
    font-size: 1.2em
    color: #666
  ul
    padding-left: 1.2em
    li
      margin-bottom: 0.5em
      font-size: 1em
      a
        color: #3498db
        text-decoration: none
      .date
        margin-left: 0.5em
        color: #aaa
        font-size: 0.95em
